# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables and secrets
.env
.env.*
!.env.example

# Terraform working files and state
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
terraform.tfvars
*.tfvars
!*.tfvars.example


# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Application logs
*.log